name: Update github myprofile

on: 'page_build'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Reqs
      run: |
        sudo apt-get install python3-setuptools
    - name: Run
      run: |
        cd ./github_myprofile_updater
        python3 update.py
        # git init
        git config --local user.name "${GITHUB_ACTOR}"
        git config --local user.email "lus6@mail.uc.edu"
        export remote_repo="https://${GITHUB_ACTOR}:${{ secrets.MY_PERSONAL_ACCESS_TOKEN }}@github.com/lus6-Jenny/lus6-Jenny.github.io.git"
        git add README.md
        git add images
        git commit -m "update my description automatically"
        git push "${remote_repo}" HEAD:main --force
